# annoyances
*.pyc
*~
# private settings
.env
# static files served in production
mysite/static/panometer
# virtual environment
pyenv
venv
# daily backup of graphics on the local computer
screenshots
*.zip
