body {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* .navbar { */
/*   margin-top: 20px; */
/*   margin-bottom: 20px; */
/* } */

/* .pager { text-align: left; height: 20px;} */
/* .loadingMessage{margin-top:10px; color:red; font-weight: bold;} */
/* table { */
/*     margin-top: 60px; */
/* } */
/* .top-buffer { margin-top:50px; } */

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    margin: auto;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}

.q9-0 { fill: #f7fcf5;}
.q9-1 { fill: #e5f5e0;}
.q9-2 { fill: #c7e9c0;}
.q9-3 { fill: #a1d99b;}
.q9-4 { fill: #74c476;}
.q9-5 { fill: #41ab5d;}
.q9-6 { fill: #238b45;}
.q9-7 { fill: #006d2c;}
.q9-8 { fill: #00441b;}

/* path.state:hover { fill: red; } */

/* rect.staterect:hover { fill: red; } */

.offset-0 {
    padding-left: 0;
}

p.sumtext {
    margin-bottom: 0;
}
p.sumtext.top {
    color: #282828;
}
p.sumtext.bottom {
    color: #585858;    
}

/* text.titletext { */
/* } */

/* text.titletext.two { */
/*     color: #A8A8A8 !important; */
/* } */
/* text.titletext.three { */
/*     color: #282828; */
/* } */

text.statetext {
    pointer-events: none;
}