html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
}

.text-vertical-center {
    margin: 0;
    padding: 0;
    display: table-cell;
    horizontal-align: center;
    /* text-align: center;     */
    vertical-align: middle;
    color: white;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /* background: url(/static/panometer/cockpit.jpg) no-repeat center center scroll; */
    background-color: #FFF9CC; /* cornsilk */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.metacontainer {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background-color: #FFF9CC; /* cornsilk */  
}

.logocontainer {
  width: 600px;
  height: 500px;
  position: relative;
  margin: auto;
  
}

#mainlogo {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 50px;
}

#meter5-copy {
    cursor: pointer;
}

#panometer-logo {
    cursor: pointer;
}

#meter3-copy {
    cursor: pointer;
}

#smiley {
    cursor: pointer;
}

a.submenu {
    padding-left: 30px !important;
}


/* these are all for the dropdown */

.pager { text-align: left; height: 20px;}
.loadingMessage{margin-top:10px; color:red; font-weight: bold;}
table {
    margin-top: 60px;
}
.top-buffer { margin-top:50px; }

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    margin: auto;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}

#navtree {
    padding-left: 15px;
}

