{% extends "panometer/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <p></p>
      <p>Online instruments designed to measure social, psychological, and physical well-being at a population level are becoming essential for public policy purposes and public health monitoring [1, 2].
	These data-centric gauges both empower the general public with information to allow comparisons of communities at all scales, and naturally complement the broad, established set of more readily measurable socioeconomic indicators such as wage growth, crime rates, and housing prices.prices.</p>
      <p>Overall well-being, or quality of life, depends on many factors and is complex to measure [3].
	Existing techniques for estimating population well-being range from traditional surveys [1, 4] to estimates of smile-tofrown ratios captured automatically on camera in public spaces [5], and vary widely in the types of data they amass, collection methods, cost, time scales involved, and degree of intrusion.
	Many measures are composite in nature with two examples being the Gallup Well-Being Index which is based on factors such as life evaluation, emotional health, physical health, healthy behavior, work environment, and basic access to necessary resources [4]; and the Living Conditions measure developed by the United States Census Bureau, which is derived from housing conditions, neighborhood conditions, basic needs met, a “full set” of appliances, and access to help if needed [6].</p>
      <p>With the explosive growth of online activity and social media around the world, the massive amount of realtime data created directly by populations of interest has become an increasingly attractive and fruitful source for analysis.
	Despite the limitation that social media users in the United States are not a random sample of the US population [7], there is a wealth of information in these data sets and uneven sampling can often be accommodated.</p>
      <p>Indeed, online activity is now considered by many to be a promising data source for detecting health conditions [8, 9] and gathering public health information [10, 11], and within the last decade, researchers have constructed a range of public-health instruments with varying degrees of success.</p>
      <p>[1] Health-related quality of life: Well-being concepts (2013), health-related quality of life: Well-being concepts. http: //www.cdc.gov/hrqol/wellbeing.htm; Accessed March 29, 2014.</p>
      <p>[2] P. S. Dodds, K. D. Harris, I. M. Kloumann, C. A. Bliss, and C. M. Danforth, PLoS ONE 6, e26752 (2011), draft version available at http://arxiv.org/abs/1101. 5120v4. Accessed November 15, 2014.</p>
      <p>[3] E. Diener, M. Diener, and C. Diener, Journal of Person- ality and Social Psychology 69(5), 851 (1995).</p>
      <p>[4] State of the states, state of the States. http://www.gallup.com/poll/125066/State-States.aspx; Accessed March 29, 2014.</p>
      <p>[5] Stimmungsgasometer (2013), stimmungsgasometer. http://xn--fhlometer-q9a.de/; Accessed March 29, 2014.</p>
      <p>[6] J. Siebens, Extended measures of well-being: Living conditions in the United Srates: 2011 (2013), URL http://www.census.gov/prod/2013pubs/p70-136.pdf.</p>
      <p>[7] M. Duggan and J. Brenner, The demograph- ics of social media users—2012 (2013), URL http://www.pewinternet.org/files/old-media//Files/Reports/2013/PIP_SocialMediaUsers.pdf</p>
      <p>[8] A. Signorini, A. M. Segre, and P. M. Polgreen, PLoS￼ONE 6(5): e19467 (2011).</p>
      <p>[9] V. M. Prieto, S. Matos, M. Alvarez, F. Cacheda, and J. L. Oliveira, PLoS ONE 9(1): e86191. (2014)</p>
      <p>[10] S. C. Walpole, D. Prieto-Merino, P. Edwards, J. Cleland, and G. Stevens, PLoS ONE 5(11): e14118 (2010).</p>
      <p>[11] M. J. Paul and M. Dredze, ICWSM (2011).</p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block bottomjs %}

    <script src="{% static "panometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "panometer/js/bootstrap.min.js" %}"></script>
    
{% endblock %}


