{% extends "panometer/base.html" %}
{% load staticfiles %}

{% block content %}
    <!-- Header -->
    <!-- <header id="top" class="header"> -->
    <!--   <div class="text-vertical-center"> -->
    <!--     <\!-- <h1>panometer.org</h1> -\-> -->
    <!--     <\!-- <h3>we're measuring everything</h3> -\->	 -->
    <!-- 	<\!-- <img src="/static/panometer/graphics/logo-3.svg" alt="logo">	 -\-> -->
    <!--   </div>	 -->
	
    <!-- </header> -->
    <div class="container">
      <h2 style="text-align: center; padding-bottom: 10px;">Welcome to the Panometer.</h2>
      <div class="metacontainer">
        <div class="logocontainer">
	  <svg id="mainlogo"></svg>
        </div>
      </div>
      <h4 style="text-align: center" class="col-sm-12 col-md-6 col-md-offset-3">Online instruments designed to measure social, psychological, and physical well-being at a population level for public policy and public health monitoring.</h4>
    </div>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block bottomjs %}

    <script src="{% static "panometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "panometer/js/bootstrap.min.js" %}"></script>
    <script src="{% static "panometer/js/snap.svg.js" %}"></script>
    <script src="{% static "panometer/js/snap-test.js" %}"></script>
    
{% endblock %}


