{% extends "panometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
<link href="{% static "panometer/css/timeline-all.min.css" %}" rel="stylesheet">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block bottomjs %}

    <script src="{% static "panometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "panometer/js/snap.svg.js" %}"></script>
    <script src="{% static "panometer/js/snap-test.js" %}"></script>
    
{% endblock %}
