{% extends "panometer/base.html" %}
{% load staticfiles %}
{% block headercss %}
<link href="{% static "panometer/css/site.css" %}" rel="stylesheet">
<link href="{% static "panometer/css/teletherm.css" %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> -->
<!-- <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' /> -->
<link href="{% static "panometer/css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <h4 id="navtree" style="display: inline-block"><a href="/index.html">Panometer</a> > <a href="/instruments/{{ meter }}/">{{meter}}</a> > {{ frame }}</h4>
    <p class="pull-right" style="display: inline-block"><a href="/instruments/{{ meter }}/instructions/">click for instructions</a></p>
  </div> <!-- row -->
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-offset-0">
      <h4>[ <i class="fa fa-exclamation-triangle"></i> page in development ]</h4>
      <div class="windowselection">
	<p>Choose averaging window:</p>
	<!-- horizontal -->
	<div id="yearbuttons">
	  <label class="radio-inline">
	    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="10"> 10 Years
	  </label>
	  <label class="radio-inline">
	    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="25"> 25 Years
	  </label>
	  <label class="radio-inline">
	    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="50"> 50 Years
	  </label>
	</div>
      </div>

      <div class="variableselection">
        
	<p>Select the variable:</p>

	<div class="btn-group" id="variabledrop">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="variabledropvis">
	    Max Temp <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a>Summer Teletherm Day & Extent</a></li>
	    <li><a>Winter Teletherm Day & Extent</a></li>
	    <li><a>Summer Teletherm Temperature</a></li>
	    <li><a>Winter Teletherm Temperature</a></li>
	  </ul>
	</div>

      </div>

      <div class="yearselection">

	<p>Select the time frame:</p>
	<!-- Single button -->
	<div class="btn-group" id="yeardrop">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="yeardropvis">
	    1900 <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" id="yeardroplist">
	    <li><a>1900</a></li>
	    <li><a>1901</a></li>
	    <li><a>...</a></li>
	  </ul>
	</div>

	<button class="btn btn-default" type="submit" id="playButton"><i class="fa fa-play"></i></button>

      </div> <!-- row -->
    </div>
  </div> <!-- row -->
  <div class="row">
    <div id="timeline"></div>
  </div> <!-- row -->
  <div class="row">
    <div id="map"></div>
  </div> <!-- row -->         
  <div class="row">
    <div class="col-xs-0 col-sm-12 col-sm-offset-0">
      <button type="button" class="close" id="dismissCity" aria-label="Close" style="float: right"><span aria-hidden="true">×</span></button>
      <h3 id="stationname" style="margin-right: 0; margin-top: 0"></h3>
      <div id="timeseries1"></div>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-xs-0 col-sm-12 col-sm-offset-0">
      <h3>The paper in PLoS: <a href="http://journals.plos.org/plosone/article?id=10.1371%2Fjournal.pone.0154184" target="_blank">[link]</a>.</h3>
      <h3>Online appendices: <a href="http://compstorylab.org/share/papers/dodds2015c/index.html" target="_blank">[link]</a>.</h3>
      <h3>Preprint (arXiv): <a href="http://arxiv.org/abs/1508.05938" target="_blank">[link]</a>.</h3>
    </div> <!-- col -->          
  </div> <!-- row -->
  <br>
  <br>
</div> <!-- container -->
{% endblock %}


{% block bottomjs %}

<script src="{% static "panometer/js/jquery-1.11.0.min.js" %}"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>-->
<script src="{% static "panometer/js/bootstrap.min.js" %}"></script>
<script src="{% static "panometer/js/d3.js" %}"></script>
<script src="{% static "panometer/js/fisheye.js" %}"></script>    
<script src="{% static "panometer/js/science.v1.js" %}"></script>
<script src="{% static "panometer/js/queue.min.js" %}"></script>
<script src="{% static "panometer/js/topojson.v1.min.js" %}"></script>
<script src="{% static "panometer/js/urllib.js" %}"></script>
<script src="{% static "panometer/js/hedotools.init.js" %}"></script>
<script src="{% static "panometer/js/hedotools.map.js" %}"></script>
<script src="{% static "panometer/js/stations.js" %}"></script>
<script src="{% static "panometer/js/cityTimePlot.js" %}"></script>
<script src="{% static "panometer/js/teletherm.js" %}"></script>

{% endblock %}
